body {
  margin: 0;
  line-height: normal;
  text-align: center;
}
.design-process7,
.quidam-officiis-simi14 {
  position: absolute;
  top: 226px;
  left: 970px;
  font-size: var(--font-size-2xl);
  line-height: 80px;
  display: inline-block;
  width: 598px;
}
.quidam-officiis-simi14 {
  top: 490px;
  font-size: var(--font-size-base);
  line-height: 32px;
}
.rectangle8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-indigo);
}
.button4 {
  position: absolute;
  top: calc(50% - 11px);
  left: 29.57%;
  line-height: 24px;
}
.lightbuttonprimarytext4 {
  position: absolute;
  top: 738px;
  left: 970px;
  width: 186px;
  height: 48px;
  text-align: center;
  color: var(--color-white);
}
.desktop-login-child,
.rectangle9 {
  position: absolute;
  top: 80px;
  left: 352px;
  width: 598px;
  height: 944px;
}
.rectangle9 {
  top: 0;
  left: 0;
  width: 1920px;
  height: 80px;
}
.demo3 {
  color: var(--color-gray-1600);
}
.about-portfolio-blog-container3 {
  position: absolute;
  top: 28px;
  left: 744px;
  line-height: 24px;
  display: inline-block;
  width: 432px;
}
.header3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 80px;
  text-align: center;
}
.frame-child {
  position: absolute;
  top: 285px;
  left: 712px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 2px 24px 4px rgba(169, 181, 194, 0.15);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 495px;
  height: 413px;
}
.email_input,
.userid_input,
.password1,
.password2 {
  border: 1px solid var(--color-gray-400);
  font-family: var(--font-dm-sans);
  font-size: var(--m3-body-large-size);
  background-color: transparent;
  left: 736px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  width: 447px;
  height: 40px;
  overflow: hidden;
}

.email_input {
  position: absolute;
  top: 385px;
}

.userid_input {
  position: absolute;
  top: 445px;
}

.password1 {
  top: 505px;
}

.password2 {
  top: 565px;
}

.userid_input,
.button-register,
.button-register-text,
.password1,
.password2 {
  position: absolute;
}
.button-register-text {
  top: 10px;
  left: 203px;
  font-size: var(--m3-body-large-size);
  font-family: var(--font-dm-sans);
  color: var(--color-white);
}
.button-register {
  cursor: pointer;
  border: 0;
  padding: auto;
  background-color: var(--color-indigo);
  top: 625px;
  left: 736px;
  border-radius: 8px;
  width: 447px;
  height: 40px;
  overflow: hidden;
  text-align: center;
}


.register-title {
  position: absolute;
  line-height: 148.02%;
}
.register-title {
  top: 325px;
  left: 736px;
  font-size: 24px;
}

.create-account {
  color: var(--color-indigo);
}

.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(107, 98, 98, 0.5);
  backdrop-filter: blur(15px);
  width: 1920px;
  height: 1024px;
  overflow: hidden;
  font-size: var(--m3-body-medium-size);
  color: var(--color-gray-1200);
}
.desktop-login {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--m3-body-large-size);
  color: var(--color-gray-1400);
  font-family: var(--font-dm-sans);
}


.active {
  color: var(--color-gray-1400);
  font-family: var(--font-dm-sans);
}

.non-active {
  color: var(--color-gray-1600);
  font-family: var(--font-dm-sans);
}

.active, 
.non-active{
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}

#login-navigator {
  text-align: center;
  font-size: var(--m3-body-large-size);
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-dm-sans);
}
.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 1920px;
  height: 80px;
}

.header ul{
  padding: 0;
}

.login-modal{
  font-size: var(--m3-body-medium-size);
}


.register-alert{
  position: absolute;
  top: 222px;
  left: 712px;
  border-radius: var(--br-md);
  line-height: 50px;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  box-shadow: 0 2px 24px 4px rgba(169, 181, 194, 0.15);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 495px;
  height: 50px;
  text-align: center;
  font-family: var(--font-dm-sans);
  font-size: var(--m3-body-medium-size);
}

.register-alert-flash{
  margin: auto;
}