<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATS - Help</title>

    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/result.css') }}" rel="stylesheet">
</head>

<body>
    <nav>
        <label class="logo">Automated Trypanosomiasis Screening</label>
        <ul>
            <li><a href="/">Home</a></li>
            
            {% if g.user %}
                <li><a href="/results">Results</a></li>
            {% else %}
                <li><a href="/search">Search</a></li>
            {% endif %}
    
            <li><a href="/help">Help</a></li>
    
            {% if g.user %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div style="padding-top:80px;">
        <div style="text-align: center; background-color: aliceblue; overflow:auto; width: 100%;">
        
            <h1 style="display: block;">Help Page</h1>   

            <p style="margin: auto; margin-top: 50px; margin-bottom: 50px; width: 50%">Write something you want to add here.</p>

        </div>
    </div>

</body>

</html>