<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATS - Main</title>
    <script src="static/lib/jquery/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='css/result.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />

    <script>
        // Reload the web page when brower back button is clicked
        window.addEventListener( "pageshow", function ( event ) {
              var historyTraversal = event.persisted || 
                                     ( typeof window.performance != "undefined" && 
                                          window.performance.getEntriesByType("navigation")[0].type === "back_forward" );
              if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
              }
            });
        
        function smoothScroll(){
            document.querySelector('#form_upload').scrollIntoView({
                behavior: 'smooth'
            });
        }
    </script>

</head>

<body>
<nav>
    <label class="logo">Automated Trypanosomiasis Screening</label>
    <ul>
        <li><a href="/">Home</a></li>
        
        {% if g.user %}
            <li><a href="/results">Results</a></li>
        {% else %}
            <li><a href="/search">Search</a></li>
        {% endif %}

        <li><a href="/help">Help</a></li>

        {% if g.user %}
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
</nav>

<div style=" padding-top: 80px;">
    <div style="text-align: center; background-color: aliceblue; overflow:auto; width: 100%;">
        
        {% if g.user %}
            <h1 style="display: block;">Welcome, {{ g.user.userid.capitalize() }}!</h1>   
        {% else %}
            <h1 style="display: block;">Welcome!</h1>
        {% endif %}
        <h3 onclick="smoothScroll()">Click here to submit your task!</h3>
        <p style="margin: auto; margin-top: 25px; margin-bottom: 25px; width: 50%">This website provides a demo for trypanosome parasite detection from microscopy videos of thick blood smears. This parasite detection component is critical in our pipeline for the automated screening of trypanosomiasis using AI. This website, when completed, aims to demonstrate a proof-of-concept of a trustworthy AI system that can greatly augment lab technicians while also providing an effective human-in-the-loop interface.</p>
        <p style="margin: auto; margin-top: 25px; margin-bottom: 25px; width: 50%"> A description (an illustrative diagram) of how the website works is provided in the diagram below. </p>
        <img width="30%" src="static/img/description.png"/>
        <p style="margin: auto; margin-top: 50px; margin-bottom: 50px; width: 50%">For more detail about how to use, go to help page</p>
    </div>
    
    
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <style>
        .dropzone {
        width: 50%;
        height: 20%;
        min-height: 0px !important;
        margin: 0 auto;
        }   
    </style>

    <form id = "form_upload" style="text-align: center; margin: 20px;" action="upload" enctype="multipart/form-data" method="POST">
        {% if g.user %}
            <p><input type="text" style="display:none;" form="form_upload" id ="user_name" name ="user_name" 
                value="{{ g.user.userid }}" required/></p>
        {% else %}
            <p>User email: <input type="text" form="form_upload" id ="email_adress" name ="email_adress" required/></p>
        {% endif %}
            <p>Task name: <input type="text" form="form_upload" id ="task_name" name ="task_name" required/></p>
        <p style="display: inline;">Sensitivity threshold<input type="range" form="form_upload" min="1" max="100" value="50" class="slider" id="sensitivity" name="sensitivity" required/></p>
        
        <div style="display:inline;" id="show_threshold"></div>%
        <script>
            var slider = document.getElementById("sensitivity");
            var output = document.getElementById("show_threshold");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
            output.innerHTML = this.value;
            }
        </script>

        <div class="dropzone" id="myDropzone"></div>
        
        <button style="font-size:15pt; line-height: 150%; margin:20px;" type="submit" id="submit-all"> Upload </button>
    </form>
    <script src="static/js/upload.js"></script>


</div>

</body>

</html>