<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OPD - Main</title>
    <script src="static/lib/jquery/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='css/result.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />

    <script>
        function imshow(_src){
            document.getElementById("image_show").src = _src 
        }
    </script>

</head>

<body>
<nav>
    <label class="logo">Online Parasite Detector</label>
    <ul>
        <li><a href="/">Home</a></li>
        
        {% if g.user %}
            <li><a href="/results">Results</a></li>
        {% else %}
            <li><a href="/search">Search</a></li>
        {% endif %}

        <li><a href="/about">About</a></li>

        {% if g.user %}
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
</nav>

<div style=" padding-top: 80px;">
    
    
    <div style="text-align: center; background-color: aliceblue; overflow:auto; width: 100%;">
        {% if g.user %}
            <h1 style="display: block;">Welcome, {{ g.user.userid }}!</h1>   
        {% else %}
            <h1 style="display: block;">Welcome!</h1>
        {% endif %}
            <p style="margin: auto; margin-top: 50px; margin-bottom: 50px; width: 50%">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <img src="static/img/petri-dish.png"/>
        <p style="margin: auto; margin-top: 50px; margin-bottom: 50px; width: 50%">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    </div>
    
    
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <style>
        .dropzone {
        width: 50%;
        height: 200px;
        min-height: 0px !important;
        margin: 0 auto;
        }   
    </style>

    <form id = "form_upload" style="text-align: center; margin: 20px;" action="upload.php" enctype="multipart/form-data" method="POST">
        {% if g.user %}
            <p><input type="text" style="display:none;" form="form_upload" id ="email_adress" name ="email_adress" 
                value="{{ g.user.userid }}" required/></p>
        {% else %}
            <p>User name: <input type="text" form="form_upload" id ="email_adress" name ="email_adress" required/></p>
        {% endif %}
            <p>Task name: <input type="text" form="form_upload" id ="task_name" name ="task_name" required/></p>
        <p style="display: inline;">Confidence threshold<input type="range" form="form_upload" min="1" max="100" value="50" class="slider" id="threshold" name="threshold"/></p>
        
        <div style="display:inline;" id="show_threshold"></div>%
        <script>
            var slider = document.getElementById("threshold");
            var output = document.getElementById("show_threshold");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
            output.innerHTML = this.value;
            }
        </script>

        <div class="dropzone" id="myDropzone"></div>
        
        <button style="font-size:15pt; line-height: 150%; margin:20px;" type="submit" id="submit-all"> Upload </button>
    </form>
    <script src="static/js/upload.js"></script>


</div>

</body>

</html>