<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATS - Main</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/task_videos.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />


    <base href="/results/" />
</head>

<body>
  <nav class="header" id="demo-guest-navigator">
    <ul>
      <a href="{{url_for('index')}}" ><b><li class="non-active">Home</li></b></a>
      <a href="{{url_for('upload')}}"><b><li class="non-active">Upload</li></b></a>
      <a href="help"><b><li class="non-active">Help</li></b></a>

      {% if g.user %}
      <a href="logout"><b><li class="non-active">LogOut</li></b></a>
      {% else %}
      <a href="login"><b><li class="non-active">LogIn</li></b></a>
      {% endif %}
    </ul>
  </nav>

<div style="padding-top:80px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <h1 style="display: block;">Video(s) (or image(s)) in given task: {{ task_name }}!</h1>   
    <div class="card-list">
    {% for video_name, video_path in video_info_lst %}       
        <div class="card">
            <div class="card-content">
                    <a href="{{ task_name }}/{{ video_name }}">{{ video_name }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

</body>

</html>